<!-- <html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> | 
            <a href="/users/add">Add New User</a> | 
            <a href="/users">All Users List</a>
        </div>    
        <h1><%= title %></h1>
 -->
 <head>
        <title>HMS</title>
      
         <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="././hms/Main.css">
        <link rel="stylesheet" href="././hms/css/bootstrap.min.css"> 
      </head>
      
      <body>
            <div>
                    <a href="/">Home</a> | 
                    <a href="/users/add">Add New User</a> | 
                    <a href="/users">All Users List</a>
                </div>  
        <header>
          <div class="row">
      
            <div class="col-md-2">
              <div>
                <img clas="img-thumbnail" src="./public/image/Di Hub Logo.PNG" alt="" height="150" width="150" style="padding: 3px 0px 0px 15px;">
              </div>
            </div>
      
            <div class="col-md-8 ">
              <h1> DI-HUB HEALTH PLATFORM</h1>
            </div>
            